body{
    background:#024554;
    font-family:serif;
}

.assignment
{
    display:flex;
    padding: 10px;
    margin:10px;
    background: #C2C0A6;
    border-radius: 20px;
}

.assignment img
{
    width: 200px;
    padding: 10px;
    border: 2px solid
}

h1{
    color: #6A8C69;
    text-align:center;
}
h2{
    color: #024554;
}
a:hover {
    color:#FFFFFF;
}