body{
    background:#024554;
    font-family:serif;
}

.assignments
{
    display:flex;
    flex-wrap:wrap;
}
.assignment
{
    width:30%;
    padding: 10px;
    margin:10px;
    padding:10px ;
    background: #C2C0A6;
    border-radius: 20px;
}

.assignment img
{
    width: 200px;
    padding: 10px;
    border: 2px solid;
    display:block;
    margin:auto;
}

h1{
    color: #6A8C69;
    text-align:center;
}
h2{
    color: #024554;
    text-align: center;
}
a:hover {
    color:#FFFFFF;
}